/* Body */

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Body :: Front Page */

.frontpage {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: var(--text-color);
  margin-left: 30px;
  text-align: center;
  line-height: 50px;
  padding-bottom: 100px;
}

.typewriter {
  font-family: monospace;
  font-size: 24px;
  margin: 20px;
}

#typewriter-text {
  white-space: nowrap;
  overflow: hidden;
}

.button {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 16px 32px;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  margin-top: 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}

.button1:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.button1 a {
  text-decoration: none;
  color: inherit;
}

/* Body :: About Me Page */

#about {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color2);
  padding: 100px;
}

.profile-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10vh;
  width: 100%;
}

.profile-container {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  width: 500px;
  height: 500px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-container:hover {
  transform: scale(1.05) rotate(3deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.profile-container:hover .profile-pic {
  opacity: 0.9;
}

.about-paragraph {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: var(--text-color);
  padding: 20px;
  margin: 20px auto;
  border-left: 4px solid var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-bottom: 5em;
}

.about-paragraph:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.3);
}

.about-paragraph p {
  margin: 0;
  text-align: center;
}

.skill-elements {
  list-style: none;
  padding: 0;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.skill-elements h1 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--text-color);
  transition: background-color 0.3s, transform 0.3s;
}

.skill-item:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skill-name {
  font-weight: bold;
}

.skill-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 15px;
}

.skill-item:hover .skill-icon {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}

/* Body :: Projects Page*/

#projects {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  line-height: 50px;
  padding: 100px;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-top: 10vh;
}

.project {
  background-color: var(--background-color2);
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
  width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.project img {
  max-width: 100%;
  border-radius: 5px;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: darkred;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project a:hover {
  background-color: lightcoral;
}

/* Body :: Contact Me Page */

#contact {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  line-height: 50px;
  background-color: var(--background-color2);
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 40px auto;
  margin-top: 12vh;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.form:hover {
  transform: translateY(-10px);
}

.form p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

input,
textarea {
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(252, 0, 0, 0.15);
  text-indent: 10px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(252, 0, 0, 0.5);
  outline: none;
}

#message {
  min-height: 200px;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #888;
}

.button2 {
  background-color: #b22222;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button2:hover {
  background-color: lightcoral;
  transform: translateY(-2px);
}
