/* Header/Navigation Bar */

header {
  margin-top: 0;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-position: center;
  height: 40vh;
  z-index: 1;
}

.header-nav {
  position: fixed;
  height: 75px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--tertiary-color);
  animation: subtleRgbGlow 5s infinite alternate;
}

@keyframes subtleRgbGlow {
  0% {
    box-shadow: 0 0 3px rgba(255, 165, 0, 0.5), 0 0 6px rgba(255, 165, 0, 0.3);
    border-color: rgba(255, 165, 0, 0.5);
  }
  33% {
    box-shadow: 0 0 3px rgba(0, 255, 0, 0.5), 0 0 6px rgba(0, 255, 0, 0.3);
    border-color: rgba(0, 255, 0, 0.5);
  }
  66% {
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.5), 0 0 6px rgba(0, 0, 255, 0.3);
    border-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 3px rgba(255, 165, 0, 0.5), 0 0 6px rgba(255, 165, 0, 0.3);
    border-color: rgba(255, 165, 0, 0.5);
  }
}

.logo h1 {
  font-size: 24px;
  color: var(--text-color);
  margin: 0;
  transition: color 0.3s ease;
  margin-left: 15px;
}

.logo a {
  text-decoration: none;
}

.logo a:hover {
  transform: scale(1.05);
}

.logo a:hover img {
  transform: rotate(10deg);
}

.logo a:hover h1 {
  color: deeppink;
}

.header-nav-elements {
  list-style: none;
  display: flex;
}

.header-nav-elements li {
  margin: 0 15px;
}

.header-nav-elements a {
  display: inline-block;
  color: var(--text-color);
  font-size: 18px;
  padding: 5px 15px;
  text-decoration: none;
}

.header-nav-elements a:hover {
  background-color: lightcoral;
  border-radius: 4px;
  border-color: lightcoral;
  border-style: solid;
  border-width: 1px;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 24px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
  transition: transform 0.3s ease;
}

.menu-toggle.active {
  transform: rotate(180deg);
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}

/* Footer Styles */

footer {
  text-align: center;
  padding: 40px 20px;
  background-color: #333;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-nav-elements {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 20px 0;
  justify-content: center;
}

.footer-nav-elements a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-nav-elements a:hover {
  background-color: var(--secondary-color);
  color: black;
  transform: scale(1.1);
}

.social-columns {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin: 20px 0;
}

.professional, .personal {
  flex: 1;
  margin: 0 10px; 
}

h4 {
  margin-bottom: 10px; 
  font-size: 1.2rem; 
  color: var(--secondary-color); 
}

.soc-elements {
  list-style: none;
  padding: 0;
  margin: 0;
}

.soc-elements li {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px;
}

.soc-elements li:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.soc-elements a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.soc-elements a:hover {
  color: black;
}

.soc-elements img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.soc-elements img:hover {
  transform: scale(1.2);
}

.credits {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
  flex-wrap: wrap; 
  gap: 20px;
}

.credits-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credits-item h4 {
  margin-bottom: 10px;
}

.credits-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.credits-item li {
  margin-bottom: 10px;
}

.credits-logo {
  vertical-align: middle;
  width: 20px;
  margin-right: 5px;
}

.credits-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

#back-to-top {
  display: none; 
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 0.3s;
  z-index: 1000;
  opacity: 0;
  font-size: 18px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#back-to-top.show {
  display: block;
  opacity: 1; 
}

#back-to-top:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
  border: 2px solid white; 
}


#back-to-top:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-color); 
}